
html {
    scroll-behavior: smooth;
}
body {
    background-color: lightgoldenrodyellow;
    text-decoration-color: black;
    float: unset;
}

h1{
    float: none;
    border: medium;
    border-color: azure;
}

h2
{ float: initial;	
}

h3{
    font: bold;
    font-size: 30px;
    float: right;
}

h4{
    font: italic;
    font-size: 25px;
}
nav{
    float: left;
    text-decoration: none;
    background: white;
    padding: 5px;
    border-radius: 15px;
    margin-right:0;
    box-shadow: 4px 4px 4px black;
}
h3{
    float: unset;
}

li {
    list-style: none;
}

a {

    float: right;
    background-color: lightsteelblue;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
    min-width: 10px;

}

